#main-fluid{
    margin-top: 10px;

}
#main-banner{

    padding: 60px;
}
.title-text{
    font-size: 48px;
    font-weight: bold;
    margin-top: 120px;
}
.features-style{
    background-color: #ffffff;
    text-shadow: 2px 2px 5px #fff, 0 0 0 #b0b0b0;
    color: transparent;
}
.of-style{
    background-color: #ffffff;
    text-shadow: 2px 2px 5px #fff, 0 0 0 #b0b0b0;
    color: transparent;
}
.name-style{
    color: #ee6165;
    text-shadow: 4px 4px 3px #cfcaca;
}
.title-description{
    color: #4f4f4f;
}
.banner-img{
    width: 850px;
}
.description-img{
    width: 800px;

    overflow: visible;
    z-index: 100;

}
.row{
    padding: 0;
}
.container-fluid{
    padding: 0;
}
#sign-up-img{
    margin-top: 50px;
    width: 1000px;
}
.caption, .caption-title{
    margin-top: 20px;
    margin-left: 50px;
}
.caption-title{
    color: #ee6165;
}
#take-attendance-title{
    margin-top: 60px;
}
#meetings-started{
    margin-top: 60px;
    width: 900px;
    margin-left: -100px;
}
#paragraph-1-text{
    line-height: 30px;
}
#paragraph-title-1{
    margin-top: 100px;
}
