.logo{
  width: 300px;
}
.nav-link{
  color: #161616;
  font-family: "Roboto", sans-serif;
}

.middle:hover{
 color: #9d9d9d;

}
.nav-right{
  margin-left: 30px;
}
.sign-up:hover{
  background-color: #ee6165;
  color: white;
}
.sign-up{
  color: #ee6165;
  background-color: white;
  border: 1px solid #ee6165;
  padding-right: 19px !important;
  padding-left: 19px !important;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(177, 177, 177, 0.25) !important;
}
#login-link{
  color: black;
}
#login-link:hover{
  color: #9d9d9d;
}
.navbar{
  background-color: white;
}

.icon-bar{
  width: 22px;
  height: 2px;
  background-color: #000000;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
  background-color: #ee6165;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  background-color: #ee6165;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
  background-color: #ee6165;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
  background-color: black;
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  background-color: black;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  background-color: black;
}


.landing-page-container{
  margin-top: 150px;
}
.landing-page-text{
  margin-top: 200px;
  min-width: 400px !important;
}
.landing-page-image{
  min-width: 500px !important;
}
.secondary-text{
  color: grey;
  margin-bottom: 35px;
  margin-top: 20px;
}
.sign-up-text{
  margin-top: 15px;
  width: 100px;
  color: #ee6165;
  background-color: white;
  border: 1px solid #ee6165;
  padding-right: 10px !important;
  padding-left: 23px !important;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(177, 177, 177, 0.25) !important;
}
.sign-up-text:hover{
  background-color: #ee6165;
  color: white;
}

@media (max-width: 991px){
  .landing-page-text{
    margin-top: -10px;
    margin-bottom: 100px;
    min-width: 400px !important;
  }

}

